* {
  /* Fonte */
  font-size: 62.5%;
  font-family: roboyo, sans-serif;
  color: #eeeeee;
}

html,
body {
  /* Margin e Padding */
  margin: 0;
  padding: 0;

  /* Borda */
  border: none;

  /* Cores */
  background: linear-gradient(to bottom, #22152c 0%, #422c52 100%) no-repeat
    fixed;

  /* Dimensões */
  height: 100%;
}

h1 {
  font-size: 4rem;
}

button {
  /* Fonte */
  font-size: 2rem;

  /* Margin e Padding */
  margin-top: 3rem;
  margin-bottom: 0;
  padding: 0.8rem 1.5rem;

  /* Borda */
  border-radius: 1rem;
  border: solid #766681;

  /* Cores */
  background-color: #766681;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

nav {
  /* Margin e Padding */
  padding: 1.4rem;

  /* Borda */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  /* Cores */
  background-color: #703b87;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);

  /* Flex */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

a {
  /* Fonte */
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}

#secao-jogo {
  /* Fonte */
  font-size: 3rem;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  /* Fonte */
  font-size: 2rem;
}

input {
  /* Margin e Padding */
  padding: 0.6rem;
  margin-top: 2rem;

  /* Borda */
  border-radius: 1rem;
  border: solid #61526c;

  /* Cores */
  background-color: #61526c;
}

#frase span {
  /* Fonte */
  font-size: 40px;
  letter-spacing: 2px;
  font-style: italic;
}

#titulo {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Margin e Padding */
  margin-top: 8rem;
}

#pontuacao {
  /* Fonte */
  font-size: 2.5rem;
}
#pontos {
  /* Fonte */
  font-size: 2.5rem;
}

#timer {
  position: fixed;
  top: 40%;
  right: 20%;
  font-size: 3.5rem;
  padding: 0.5rem;
  text-align: center;
  animation: pulsar 1s infinite alternate,
  alternarCor 2s infinite;
}

/*Animação do timer pulsar */
@keyframes pulsar {                   
  0% { transform: translateY(-50%) scale(1.5); }
  100% { transform: translateY(-50%) scale(1); }
}

@keyframes alternarCor {
  0% { color: white; }
  50% { color: plum; }
  100% { color: white; }
}
