* {
  font-size: 62.5%;
  font-family: roboyo, sans-serif;
  color: #eeeeee;
}

html,
body {
  height: 100%;
  background-image: linear-gradient(#22152c, #422c52);
}

#formulario {
  font-size: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10rem auto 0 auto;

  border: none;
  border-radius: 1rem;

  width: 30rem;
  padding: 3rem 5rem 2rem 5rem;

  background-color: #372941;

  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

#titulo-formulario {
  margin: 0;
  font-size: 4.5rem;
  padding-bottom: 1rem;
}

#botao-criarconta {
  background-color: #372941;
  border: none;
}

label {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

input {
  background-color: #61526c;
  border-radius: 1rem;
  padding: 0.6rem;
  border: solid #61526c;
}

::placeholder {
  color: #ffffff57;
}

button {
  margin-top: 3rem;
  margin-bottom: 0;
  background-color: #766681;
  border-radius: 1rem;
  padding: 0.3rem 0.8rem;
  border: solid #766681;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
